html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.c-user_cell {
  padding: 2%;
  padding-left: 4%;
  height: 231px;
  overflow: hidden;
  }

.c-user_cell__img {
  height: 70px;
  border-radius: 50%;
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
   opacity: 0.76
}
.pager {
  margin: 10px;
}
.pager li {
  padding: 0.8em;
  margin: 1em;
  border-radius: 30px;
  background-color: #bfced3;
}

.pager li:hover {
  background-color: #d7e6ef;
}
.pager li:active {
  background-color: #aca497;
}

.pager .u-inactive {
  opacity: 0.3;
}
